<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>Back</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-edit-grocery-store [groceryStore]="groceryStore$ | async"
                          (notifyNewStoreAisleRequested)="onNotifyNewStoreAisleRequest($event)"
                          (notifyDeleteStoreAisleRequested) ="onDeleteStoreAisleRequest($event)"
                          (notifyExpandAisles)="onNotifyExpandAisles($event)"
                          (notifyNewGroceryStoreSectionRequested)="onNotifyNewGrocerStoreSectionRequest($event)"
                          (notifyDeleteGroceryStoreSectionRequested) ="onDeleteGroceryStoreSectionRequest($event)"
                          (notifyExpandSections)="onNotifyExpandSections($event)">
  </app-edit-grocery-store>
</ion-content>
