<ion-list *ngIf="!shoppingItemsLoading else showSpinner;">
  <ion-item lines="none" *ngFor="let aisle of aisles">
      <ion-grid>
        <ion-row class="aisleOrSectionHeading">
          <ion-col>
            <div class="itemContents">
              <ion-label>Aisle {{aisle.name}}</ion-label>
              <ion-button *ngIf="addingShoppingItemInAisle === null" fill="clear" outline="none" (click)="onAddShoppingItemClickInAisle(aisle)">
                <ion-icon slot="start" ios="add-circle-outline" md="add-circle-outline" color="dark"></ion-icon>
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-list>
              <app-add-shopping-item *ngIf="addingShoppingItemInAisle === aisle.name"
                                     [initialStoreLocation]="{ storeId: groceryStore.id, storeName: groceryStore.name, id: null, aisle: aisle.name, section: null}"
                                     (notifyNewPantryItemRequestCancelled)="onCancelAddShoppingItemRequest($event)"
                                     (notifyNewPantryItemRequested)="onFinishAddingShoppingItemInAisle($event)">
              </app-add-shopping-item>
                <ion-grid>
                  <ion-row *ngFor="let shoppingItem of itemsInAisle(aisle)">
                    <ion-col>
                      <app-shopping-item [shoppingItem]="shoppingItem"
                                         (notifyEditPantryItemLocationRequested)="onChangeShoppingItemLocation($event)"
                                         (notifySaveRequested)="onSaveShoppingItem($event)"></app-shopping-item>
                      <hr *ngIf="!isLastItemInAisle(aisle, shoppingItem)" class="solid aisleOrSectionHeading" width="100%">
                    </ion-col>
                  </ion-row>
                </ion-grid>
            </ion-list>
            <hr width="100%">
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-item>
  <ion-item lines="none" *ngFor="let section of sections">
    <ion-grid>
      <ion-row class="aisleOrSectionHeading">
        <ion-col>
          <ion-label>{{section.name}} Section</ion-label>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let shoppingItem of section.shoppingItems">
        <ion-col>
          <app-shopping-item [shoppingItem]="shoppingItem"
                             (notifyEditPantryItemLocationRequested)="onChangeShoppingItemLocation($event)"
                             (notifySaveRequested)="onSaveShoppingItem($event)"></app-shopping-item>
          <hr *ngIf="!isLastItemInSection(section, shoppingItem)" class="solid aisleOrSectionHeading" width="100%">
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-grid>
    <ion-row *ngFor="let shoppingItem of itemsWithNoStoreLocation">
      <ion-col>
        <app-shopping-item [shoppingItem]="shoppingItem"
                           (notifyEditPantryItemLocationRequested)="onChangeShoppingItemLocation($event)"
                           (notifySaveRequested)="onSaveShoppingItem($event)"></app-shopping-item>
        <hr width="100%">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-list>
<ion-text *ngIf="error">{{error}}</ion-text>
<ng-template #showSpinner>
  <p>shopping items are loading...</p>
</ng-template>
