<ng-container [formGroup]="controlContainer.control">
<ion-item>
  <ion-select id="groceryStoreSelectionControl" placeholder="Select Grocery Store" [compareWith]="compareById"
              [(ngModel)]="selectedGroceryStore"
              [formControlName]="'locationStore'"
              (ionChange)="onChangeGroceryStoreSelected($event)">
    <ion-select-option *ngFor="let groceryStore of groceryStores" [value]="groceryStore">{{groceryStore.name}}</ion-select-option>
  </ion-select>
</ion-item>
</ng-container>
