<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>Back</ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button  fill="clear" outline="none" (click)="onDeletePantryItem()">
        <ion-icon slot="icon-only" ios="trash-outline" md="trash-outline" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-edit-pantry-item-details [groceryStores] = "groceryStores$ | async"
                                [pantryItem]="pantryItem$ | async" [error]="error$ | async"
                                [pantryItemLocations]="pantryItemLocations$ | async"
    (notifySavePantryItemRequested)="savePantryItemChanges($event)"
    (notifyAddPantryItemRequested)="addPantryItem($event)"
  (notifyAddPantryItemLocationRequest)="addPantryItemLocation($event)"
  (notifyEditPantryItemLocationRequest)="editPantryItemLocation($event)">
  </app-edit-pantry-item-details>
</ion-content>
