<ion-header>
  <ion-toolbar>
    <ion-text slot="start">{{(shoppingStore$ | async)?.name}} Shopping List</ion-text>
    <ion-button *ngIf="!(addingShoppingItem$ | async) && ((addingShoppingItemInAisle$ | async) == null)" fill="clear" outline="none" (click)="onAddShoppingItemClick()">
      <ion-icon slot="start" ios="add-circle-outline" md="add-circle-outline" ></ion-icon>
    </ion-button>
    <ion-button slot="end" *ngIf="!filterList" fill="clear" outline="none" (click)="filterItems()">Search
      <ion-icon ios="search-circle-outline" md="search-circle-outline" ></ion-icon>
    </ion-button>
  </ion-toolbar>
  <div class="search-container" *ngIf="filterList">
    <ion-input class="search-box" placeholder="Search" autocapitalize="none" [(ngModel)]="filter" >
    </ion-input>
    <ion-button fill="clear" outline="none" (click)="cancelFilter()">
      <ion-icon ios="close-circle-outline" md="close-circle-outline" ></ion-icon>
    </ion-button>
  </div>
</ion-header>
<ion-content>
  <app-select-grocery-store [groceryStores]="groceryStores$ | async" (selectedGroceryStoreChange)="onGroceryStoreSelected($event)"></app-select-grocery-store>
  <app-add-shopping-item *ngIf="!!selectedStore && (addingShoppingItem$ | async)"
                         [initialStoreLocation]="{ storeId: selectedStore.id, storeName: selectedStore.name, id: null, section: null, aisle: null }"
                       (notifyNewPantryItemRequested)="onCreateShoppingItem($event)">
  </app-add-shopping-item>
  <app-shopping-item-list *ngIf="!!selectedStore" [filter]="filter" (notifySaveShoppingItemRequested)="onItemPlacedInOrRemovedFromCart($event)"
                          [addingShoppingItemInAisle]="(addingShoppingItemInAisle$ | async)"
                          (notifyChangeShoppingItemLocationRequested)="onItemLocationChangeRequested($event)"
                          (notifyAddNewPantryItemToStoreShoppingList)="onAddShoppingItemInAisleClick($event)"
                          (notifyCancelAddItem)="onCancelAddShoppingItem($event)"
                          (notifyDoneAddingItem)="onCreateShoppingItem($event)"
                          [groceryStore]="selectedStore"
                          [shoppingList]="shoppingList$ | async"></app-shopping-item-list>
</ion-content>
