<form [formGroup]="controlContainer.control">
<ion-item *ngIf="sectionsOrAislesExist()" lines="none">
  <ionic-selectable
                    [placeholder]="getPlaceholderText()"
                    [formControlName]="inputControlName"
    [(ngModel)]="selectedGroceryStoreAisleOrSection"
  [items]="groceryStoreAislesOrSections"
  [canSearch]="true"
  (onChange)="onChangeAisleOrSection($event)">
  </ionic-selectable>
</ion-item>
<ion-item lines="none">
  <ion-button  fill="clear" outline="none" (click)="onAddGroceryStoreAisleOrSection()">Add
    <ion-icon slot="start" ios="add-circle-outline" md="add-circle-outline" ></ion-icon>
  </ion-button>
</ion-item>
</form>

