<ng-container [formGroup]="controlContainer.control">
<ion-item>
    <ion-select id="aisleSelectionControl" *ngIf="sectionsOrAislesExist() else noItems;" placeholder="Select Grocery Store {{label}}"
                [formControlName]="inputControlName" (ionChange)="onChangeAisleOrSection($event)">
      <ion-select-option *ngFor="let storeAisle of groceryStoreAislesOrSections" value="{{storeAisle}}">{{storeAisle}}</ion-select-option>
    </ion-select>
  <ng-template #noItems>
    <ion-text>No {{label}} added.</ion-text>
  </ng-template>
</ion-item>
</ng-container>

