<ion-header>
  <ion-toolbar>
    <ion-text slot="start">Pantry</ion-text>
    <app-select-grocery-store slot="end" [groceryStores]="groceryStores$ | async"></app-select-grocery-store>
  </ion-toolbar>
</ion-header>
<ion-content>]
  <ion-list-header>
    <ion-button shape="round" fill="outline" (click)="onAddStoreClick()">Add
      <!--<ion-icon slot="start" md="ios-add-circle-outline" ></ion-icon>-->
      <!--<app-new-store></app-new-store>-->
    </ion-button><!--  <app-add-pantry-item (notifyNewPantryItemRequested)="onNotifyNewPantryItemRequest($event)"></app-add-pantry-item>-->
  </ion-list-header>
  <app-pantry-item-list [pantryItems] = "(pantryItems$ | async)"
                        [pantryItemsLoading]="pantryItemsLoading$ | async"
                        (notifyDeletePantryItemRequested)="onDeletePantryItemRequest($event)"
                        (notifySavePantryItemRequested)="onPantryItemModified($event)"
                        [error] = "(error$ | async)">
  </app-pantry-item-list>
  <app-add-pantry-item [addingPantryItem]="(addingPantryItem$ | async)"
                       (notifyNewPantryItemRequested)="onCreateItem($event)">
  </app-add-pantry-item>
</ion-content>
