<ion-list *ngIf="!pantryItemsLoading else showSpinner;">
    <ion-item *ngFor="let pantryItem of pantryItems">
      <ion-grid>
        <ion-row >
          <ion-col (click)="editPantryItem(pantryItem)" size="8">
            <div class="ion-float-left">
              <ion-label class="nameLabel">{{pantryItem.name}}</ion-label>
            </div>
          </ion-col>
          <ion-col>
            <div class="ion-float-right itemDivContents">
              <ion-checkbox class="checkbox" (ionChange)="itemClicked($event, pantryItem)" [checked]="pantryItem.need"></ion-checkbox>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col (click)="editPantryItem(pantryItem)">
            <div class="ion-float-left">
            <ion-label class="descLabel" >{{pantryItem.description}}</ion-label>
            </div>
          </ion-col>
          <ion-col size="4">
            <div class="ion-float-right" *ngIf="pantryItem.need">
<!--                <ion-item  class="ion-float-right">-->
                <ion-input class="edit-box" (ionBlur)="quantityChanged($event, pantryItem)"
                           imputmode="decimal" type="number"  [ngModel]="pantryItem.quantityNeeded"></ion-input>
<!--                  <ion-input class="leftSideElement" type="number" (ionBlur)="quantityChanged(pantryItem)" [(ngModel)]="pantryItem.quantityNeeded"></ion-input>-->
                <ion-label class="rightSideLabel">{{pantryItem.units === null ?'n/a' : pantryItem.units }}</ion-label>
<!--                </ion-item>-->
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
</ion-list>
<ion-text *ngIf="error">{{error}}</ion-text>
<ng-template #showSpinner>
  <p>pantry items are loading...</p>
</ng-template>
