ion-item {
  ion-row {
    ion-col {
      margin: 0;
      ion-label {
        text-align: left;
      }
      ion-checkbox {
        margin: 0;
        text-align: right;
      }
    }
  }
  //ion-checkbox {
  //  position: relative;
  //  top: .2em;
  //  right: .2em;
  //}

}

.itemDivContents {
  display: flex;
  align-items: center;
}
.checkboxLabel {
  margin-right: .5em;
}
