
ion-card {
  ion-item-sliding {
    ion-item {
      div {
        display: flex;
        align-items: center;
        ion-label {
          float: left;
        }
        div {
          display: flex;
          align-items: center;
          float: right;
          label {
            margin: .5em;
          }
        }
      }
    }
  }
}
