.itemContents {
  align-items: center;
  flex-direction: row;
  display: flex;
  float: left;
}
.checkboxLabel {
  flex: auto;
  font-weight: bold;
  margin-left: .2em;
  margin-bottom: .2em;
  float: right;
}
.quantity {
  float: right;
  align-items: center;
  margin-left: 1em;
}
.move-button {
  float: left;
}
#parent {
  display: flex;
  flex-direction: column;
}
.descLabel {
  font-style: italic;
  float: left;
}
.in-item {
  margin: 0em 0.5em 0.5em 0em;
  padding: 0em;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
