<div id="parent">
  <div class="itemContents">
    <ion-checkbox (ionChange)="itemClicked($event)" [checked]="shoppingItem?.inCart"></ion-checkbox>
    <ion-label class="checkboxLabel ion-text-wrap">{{getShoppingItemDescriptionLine1(shoppingItem)}}</ion-label>
  </div>
  <div class="itemContents">
    <ion-label class="descLabel ion-text-wrap">{{getShoppingItemDescriptionLine2(shoppingItem)}}</ion-label>
<!--    <ion-button class="ion-float-sm-right" (click)="editLocation()" >Move</ion-button>-->
  </div>
</div>
