 <ion-list-header>
    <ion-label>{{ sectionName }}</ion-label>
    <ion-button *ngIf="canAdd && isSectionOpen" (click)="onAddClick()">
      <ion-icon slot="icon-only" ios="add-circle-outline" md="add-circle-outline"></ion-icon>
    </ion-button>
    <span (click)="toggleAccordion()" *ngIf="isSectionOpen">&#9650;</span>
    <span (click)="toggleAccordion()" *ngIf="!isSectionOpen">&#9660;</span>
 </ion-list-header>
<!--<div-->
<!--  [ngClass]="this.isSectionOpen ? 'active' : 'inactive'">-->
<!--&lt;!&ndash;  <section class="image-wrapper">&ndash;&gt;-->
<!--&lt;!&ndash;    <img [src]="image">&ndash;&gt;-->
<!--&lt;!&ndash;  </section>&ndash;&gt;-->
<!--  <p>{{ description }}</p>-->
<!--  <ion-button-->
<!--    type="button"-->
<!--    color="primary"-->
<!--    fill="solid"-->
<!--    size="default"-->
<!--    (click)="broadcastName(sectionName)">Console log me!</ion-button>-->
<!--</div>-->
