.add-grocery-store-modal {
}

.add-grocery-store-modal .button-container {
  display: flex;
}

.add-grocery-store-modal .cancel-button {

}
.add-grocery-store-modal .done-button {

}

.add-grocery-store-modal .ion-modal {
  height: 30% !important;
  width: 90% !important;
  top: 0;
  position: absolute;
  display: block;
}

.ion-modal {
  height: 30% !important;
  width: 90% !important;
  top: 0;
  position: absolute;
  display: block;
}

.modal-wrapper {
  height: 30% !important;
  width: 90% !important;
  top: 0;
  position: absolute;
  display: block;
}
