<ion-toolbar>
  <ion-back-button slot="start"></ion-back-button>
  <ion-title>{{ groceryStore.name}}</ion-title>
</ion-toolbar>
<ion-card>
  <app-hggs-accordion [sectionName]="aislesSection.label" [description]="" (change)="toggleAislesExpandState($event)" (addToList)="onAddAisleClicked()">
  </app-hggs-accordion>
  <app-grocery-store-aisles-or-sections *ngIf="aislesSection.isOpen$ | async"
                                        [addingAisleOrSection]="(addingAisle$ | async)"
                                        [aislesOrSectionsInUse] = "aislesInUse"
                                        [groceryStore]="groceryStore"
                                        (notifyNewStoreAisleOrSectionRequested)="onNotifyNewStoreAisleRequest($event)"
                                        (notifyDeleteStoreAisleOrSectionRequested)="onNotifyDeleteStoreAisleRequest($event)"
                                        [collectionName]="'aisles'">
  </app-grocery-store-aisles-or-sections>
  <app-hggs-accordion [sectionName]="grocerySectionsSection.label" [description]="" (change)="toggleGroceryStoreSectionsExpandState($event)" (addToList)="onAddSectionClicked()">
  </app-hggs-accordion>
  <app-grocery-store-aisles-or-sections *ngIf="grocerySectionsSection.isOpen$ | async"
                                        [addingAisleOrSection]="(addingSection$ | async)"
                                        [groceryStore]="groceryStore"
                                        (notifyNewStoreAisleOrSectionRequested)="onNotifyNewStoreGrocerySectionRequest($event)"
                                        (notifyDeleteStoreAisleOrSectionRequested)="onNotifyDeleteGroceryStoreSectionRequest($event)"
                                        [collectionName]="'sections'"
                                        [aislesOrSectionsInUse] = "sectionsInUse"
  >
  </app-grocery-store-aisles-or-sections>
</ion-card>
