<ion-content>
  <ion-input *ngIf="!pantryItem?.id; else existingItem" placeholder="Enter name" id="newPantryItemNameInput" [(ngModel)]="pantryItemName"></ion-input>
  <ng-template #existingItem>
    <ion-input class="edit-box" placeholder="Name" id="pantryItemNameInput" [(ngModel)]="pantryItemName" (ionBlur)="onNameEnteredOrChanged()"></ion-input>
    <ion-input class="edit-box"placeholder="Enter description" id="newPantryItemDescriptionInput" (ionBlur)="onPropertyChange()" [(ngModel)]="pantryItemDescription"></ion-input>
    <div>
      <ion-input class="edit-box edit-box-left" inputmode="decimal" placeholder="Quantity" id="pantryItemQuantityInput" (ionChange)="onPropertyChange()" [(ngModel)]="pantryItemQuantity"></ion-input>
      <ion-input class="edit-box edit-box-right" placeholder="Units" id="pantryItemQuantityUnitInput" (ionChange)="onPropertyChange()" [(ngModel)]="pantryItemQuantityUnit"></ion-input>
    </div>
      <app-hggs-accordion [sectionName]="locationsSection.label"
                          [description]=""
                          [isOpenInitially]="true"
                          (change)="toggleLocationsSection($event)"
                          (addToList)="onAddLocationClicked()">
      </app-hggs-accordion>
      <app-pantry-item-locations *ngIf="locationsSection.isOpen$ | async"
                                 [pantryItem]="pantryItem"
                                 [groceryLocations]="pantryItemLocations"
                                 (notifyEditPantryItemLocationRequested)="onNotifyEditLocationRequest($event)"
                                 (notifyDeletePantryItemLocationRequested)="onNotifyDeleteLocationRequest($event)"></app-pantry-item-locations>
      <ion-textarea *ngIf="error">{{error.message}}</ion-textarea>
    <ion-button  fill="clear" outline="none" (click)="onDeletePantryItem()">
      <ion-icon slot="start" ios="trash-outline" md="trash-outline" ></ion-icon>
    </ion-button>
  </ng-template>

</ion-content>
