<!--<ion-header *ngIf="isNewItem">-->
<!--  <ion-title>New Item</ion-title>-->
<!--&lt;!&ndash;  <ng-template #existingItem>&ndash;&gt;-->
<!--&lt;!&ndash;    <ion-title>{{ pantryItem.name}}</ion-title>&ndash;&gt;-->
<!--&lt;!&ndash;  </ng-template>&ndash;&gt;-->
<!--</ion-header>-->
<ion-content>
  <ion-input *ngIf="!pantryItem?.id; else existingItem" placeholder="Enter name" id="newPantryItemNameInput" [(ngModel)]="pantryItemName"></ion-input>
  <ng-template #existingItem>
    <ion-input placeholder="Name" id="pantryItemNameInput" [(ngModel)]="pantryItemName" (ionBlur)="onNameEnteredOrChanged()"></ion-input>
    <ion-input placeholder="Enter description" id="newPantryItemDescriptionInput" (ionBlur)="onPropertyChange()" [(ngModel)]="pantryItemDescription"></ion-input>
<!--    <div>-->
      <ion-input placeholder="Quantity" id="pantryItemQuantityInput" (ionBlur)="onPropertyChange()" [(ngModel)]="pantryItemQuantity"></ion-input>
      <ion-input placeholder="Units" id="pantryItemQuantityUnitInput" (ionBlur)="onPropertyChange()" [(ngModel)]="pantryItemQuantityUnit"></ion-input>
<!--    </div>-->
<!--    <ion-card>-->
      <app-hggs-accordion [sectionName]="locationsSection.label"
                          [description]=""
                          [isOpenInitially]="true"
                          (change)="toggleLocationsSection($event)"
                          (addToList)="onAddLocationClicked()">
      </app-hggs-accordion>
      <app-pantry-item-locations *ngIf="locationsSection.isOpen$ | async"
                                 [pantryItem]="pantryItem"
                                 [groceryLocations]="pantryItemLocations"
                                 (notifyEditPantryItemLocationRequested)="onNotifyEditLocationRequest($event)"
                                 (notifyDeletePantryItemLocationRequested)="onNotifyDeleteLocationRequest($event)"></app-pantry-item-locations>
      <ion-textarea *ngIf="error">{{error.message}}</ion-textarea>
<!--    </ion-card>-->
  </ng-template>

<!--  <ion-footer>-->
<!--    <ion-button shape="round" fill="outline" (click)="onNameEnteredOrChanged()">Save-->
<!--      &lt;!&ndash;<ion-icon slot="start" md="ios-add-circle-outline" ></ion-icon>&ndash;&gt;-->
<!--      &lt;!&ndash;<app-new-store></app-new-store>&ndash;&gt;-->
<!--    </ion-button>-->
<!--  </ion-footer>-->
</ion-content>
