<ion-header>
  <ion-toolbar>
    <ion-text slot="start">Grocery Stores</ion-text>
    <ion-button slot="end" shape="round" fill="outline" (click)="onAddStoreClick()">Add
      <ion-icon slot="start" ios="add-circle-outline" md="add-circle-outline" ></ion-icon>
      <!--<app-new-store></app-new-store>-->
    </ion-button><!--  <app-add-pantry-item (notifyNewPantryItemRequested)="onNotifyNewPantryItemRequest($event)"></app-add-pantry-item>-->
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-store-list [groceryStores] = "(groceryStores$ | async)"
 (notifyDeleteStoreRequested)="onDeleteStoreRequest($event)">
  </app-store-list>
  <app-add-grocery-store [addingStore] = "(addingStore$ | async)" (notifyNewStoreRequested)="onNotifyNewStoreRequest($event)"></app-add-grocery-store>
</ion-content>

