<ion-header>
  <ion-toolbar>
    <ion-text slot="start">Pantry</ion-text>
    <ion-button slot="end" shape="round" fill="outline" (click)="onAddStoreClick()">Add
      <!--<ion-icon slot="start" md="ios-add-circle-outline" ></ion-icon>-->
      <!--<app-new-store></app-new-store>-->
    </ion-button><!--  <app-add-pantry-item (notifyNewPantryItemRequested)="onNotifyNewPantryItemRequest($event)"></app-add-pantry-item>-->
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-store-list [groceryStores] = "(groceryStores$ | async)"
 (notifyDeleteStoreRequested)="onDeleteStoreRequest($event)" [addingStore]="(addingStore$ | async)">
  </app-store-list>
</ion-content>
<ion-footer *ngIf="addingStore">
  <app-add-grocery-store (notifyNewStoreRequested)="onNotifyNewStoreRequest($event)"></app-add-grocery-store>
</ion-footer>

