    <ion-card *ngIf="addingAisleOrSection">
      <ion-row>
        <ion-input placeholder="Enter aisle name" id="newStoreAisleInput2" [(ngModel)]="newStoreAisleOrSection"></ion-input>
        <ion-button size="small" (click)="onAddStoreAisleDoneClick()">Done</ion-button>
        <ion-button size="small" (click)="onCancelAddStoreAisleOrSectionClick()">Cancel</ion-button>
      </ion-row>
    </ion-card>
    <ion-list *ngIf="groceryStore?.aisles">
      <ion-card *ngFor="let groceryAisleOrSection of groceryStore[collectionName]">
        <ion-item-sliding #itemSliding>
          <ion-item>
            <ion-label *ngIf="!(itemBeingEdited && groceryAisleOrSection === itemBeingEdited) else showEditBox;" >{{groceryAisleOrSection}}</ion-label>
            <ng-template #showEditBox>
              <ion-input [(ngModel)]="newName"></ion-input>
              <ion-button size="small" (click)="doneEditingItem()">Done</ion-button>
              <ion-button size="small" (click)="onCancelEditStoreAisleOrSectionClick()">Cancel</ion-button>
            </ng-template>
          </ion-item>
          <ion-item-options *ngIf="!(itemBeingEdited && groceryAisleOrSection === itemBeingEdited)" side="end">
              <ion-item-option (click)="editStoreAisle(itemSliding, groceryAisleOrSection)">Edit</ion-item-option>
              <ion-item-option *ngIf="itemCanBeDeleted(groceryAisleOrSection)" color="danger" (click)="remove(groceryAisleOrSection)">Delete</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
    </ion-card>
    </ion-list>
    <ion-label *ngIf="groceryStore[collectionName]?.length === 0 && !addingAisleOrSection">No Aisles Defined</ion-label>
<!--    <ion-card *ngIf="enteringStoreAisle">-->
<!--      <ion-row>-->
<!--        <ion-input placeholder="Enter aisle name" id="newStoreAisleInput" [(ngModel)]="newStoreAisle"></ion-input>-->
<!--        <ion-button size="small" (click)="onAddStoreAisleDoneClick()">Done</ion-button>-->
<!--        <ion-button size="small" (click)="onCancelAddStoreAisleClick()">Cancel</ion-button>-->
<!--      </ion-row>-->
<!--    </ion-card>-->
