    <ion-card *ngIf="addingAisleOrSection">
      <ion-row>
        <ion-input placeholder="Enter aisle name" id="newStoreAisleInput2" [(ngModel)]="newStoreAisleOrSection"></ion-input>
        <ion-button size="small" (click)="onAddStoreAisleDoneClick()">Done</ion-button>
        <ion-button size="small" (click)="onCancelAddStoreAisleOrSectionClick()">Cancel</ion-button>
      </ion-row>
    </ion-card>
    <ion-list *ngIf="groceryStore?.aisles">
      <ion-item *ngFor="let groceryAisleOrSection of groceryStore[collectionName]">
        <ion-item-sliding>
          <ion-item>
            <ion-label (click)="editStoreAisle(groceryAisleOrSection)">{{groceryAisleOrSection}}</ion-label>
          </ion-item>
          <ion-item-options side="end">
            <!--<ion-item-option (click)="edit(groceryStore)">Edit</ion-item-option>-->
            <ion-item-option color="danger" (click)="remove(groceryAisleOrSection)">Delete</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
    </ion-item>
    </ion-list>
    <ion-label *ngIf="groceryStore[collectionName]?.length === 0 && !addingAisleOrSection">No Aisles Defined</ion-label>
    <ngx-snackbar></ngx-snackbar>
<!--    <ion-card *ngIf="enteringStoreAisle">-->
<!--      <ion-row>-->
<!--        <ion-input placeholder="Enter aisle name" id="newStoreAisleInput" [(ngModel)]="newStoreAisle"></ion-input>-->
<!--        <ion-button size="small" (click)="onAddStoreAisleDoneClick()">Done</ion-button>-->
<!--        <ion-button size="small" (click)="onCancelAddStoreAisleClick()">Cancel</ion-button>-->
<!--      </ion-row>-->
<!--    </ion-card>-->
